#menu {
  position: fixed;
  top: 20px;
  width: 98%;
  height: 50px;
  background: purple;
  border-radius: 9px;
  display: flex;
  align-items: center;
}

#menu div {
  background: cyan;
  width: 100px;
  height: 30px;
  margin: 0 10px 0 30px;
  border-radius: 5px;
}

#content {
  height: 400px;
  display: flex;
}

.container {
  margin: 80px auto;
  width: 60%;
}

.main {
  margin: 5px;
  background: lime;
  flex-grow: 3;
  border-radius: 9px;
}

.aside {
  margin: 5px;
  background: yellow;
  flex-grow: 1;
  border-radius: 9px;
}

.footer {
  margin: 5px;
  background: gray;
  height: 40px;
  border-radius: 9px;
}